@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #f3eae5;
  --text-dark: #2c2724;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  outline: none;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

body {
  font-family: "Montserrat", sans-serif;
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--text-dark);
}

.nav__logo a {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--text-dark);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-weight: 600;
  color: var(--primary-color);
}

.nav__links a:hover {
  color: var(--white);
}

.nav__btns {
  display: none;
}


  
  @media (width > 768px) {
    nav {
      position: static;
      padding: 2rem 1rem;
      max-width: var(--max-width);
      margin-inline: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
    }
  
    .nav__header {
      flex: 1;
      padding: 0;
      background-color: transparent;
    }
  
    .nav__logo a {
      color: var(--text-dark);
    }
  
    .nav__menu__btn {
      display: none;
    }
  
    .nav__links {
      position: static;
      padding: 0;
      flex-direction: row;
      background-color: transparent;
      transform: none;
    }
  
    .nav__links a,
    .nav__links a:hover {
      color: var(--text-dark);
    }
  
    .nav__btns {
      flex: 1;
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  
    .nav__btns .btn {
      font-size: 1.5rem;
      color: var(--text-dark);
      background-color: transparent;
    }
  
    .container {
      grid-template-columns: 2fr 3fr;
      align-items: center;
      padding: 2rem 0;
    }
  
    .container__left {
      text-align: left;
    }
    .dropdownUserBtns{
      display: none;
    }
  }
  